.item-container {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.delete-button {
    margin-top: 9px;
}