<div class="centered">
    <span class="app-text">Based on our recommendation system, you should revise:</span><br><br>
    <div class="recommendations">
            <div>
                <mat-chip class="chipMargin" [ngStyle]="{'background-color': 'pink'}">
                    <img matChipAvatar src="assets/img/dsa.png" alt="Photo of a Shiba Inu"/>
                    <strong class="subrecommendation-text">Algoritmi sortiranja</strong>
                </mat-chip>
            </div>
            <div>
                <mat-chip class="chipMargin" [ngStyle]="{'background-color': 'pink'}">
                    <img matChipAvatar src="assets/img/dsa.png" alt="Photo of a Shiba Inu"/>
                    <strong class="subrecommendation-text">Umetanje čvora u BST</strong>
                </mat-chip>
            </div>
            <div>
                <mat-chip class="chipMargin" [ngStyle]="{'background-color': 'pink'}">
                    <img matChipAvatar src="assets/img/dsa.png" alt="Photo of a Shiba Inu"/>
                    <strong class="subrecommendation-text">Dijkstring algoritam</strong>
                </mat-chip>
            </div>
    </div>
</div>
