.recommendation-text {
    text-decoration: solid;
    font-size: x-large;
}

.recommendations {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-right: 10%;
}

.subrecommendation-text {
    font-style: italic;
    font-size: large;
}

.chipMargin {
    margin: 5px;
}


@media only screen and (max-width: 800px) {
    .recommendations {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }   
}


